.shadowOut {
  filter: drop-shadow(0 -12px 3px #00000028);
}

.container01Pre {
  background-image: url("../../../../public/home/onda_cinza_01.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}

.container01Pos {
  background-image: url("../../../../public/common/onda_cinza_02.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  transform: rotate(180deg);
}